<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Assignment 2</title>

    
    <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

   
    <link href="css/grayscale.min.css" rel="stylesheet">

    
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            Menu <i class="fa fa-bars"></i>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#page-top">Question 2</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="/main" href="/">Back</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h1 class="brand-heading">Assignment 2</h1>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 offset-md-2">
                <h2>What is between SEO and SEM?</h2>
                <p>The difference between SEO and SEM is simply that Search Engine Optimization is part of Search engine marketing or Search marketing as it is widely known. Both processes aim in increasing visibility in search engines.

                SEO is about optimizing your website to get better rankings in the search results while SEM goes beyond SEO. It involves other methods that can get you more search engine visitors like PPC advertising.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 offset-md-2">
                    <h2>Briefly discuss the following SEO Strategies</h2>
                    <p>Domain Name Strategy - he purpose of a domain name strategy is to proactively protect your brand online by reducing the chance for others to use your brand name in their online activities, specifically, in their website URLs.</p>
                    <p>Linking strategy - As with any marketing activity, the first step in any link building campaign is the creation of goals and strategies.</p>
                    <p>Title Tags Strategy - Title tags are part of the meta tags that appear at the top of your HTML inside the < head> area. Think of title tags like the title of the chapter of a book</p>
                    <p>Meta description tags strategy - Think Less about SEO & More about Click-Throughs. The meta description tag in HTML is the 160 character snippet used to summarize a web page's content</p>
                    <p>Alt tags strategy - Image alt text is a text alternative for an image on a web page. Search engine robots can't “see” images, which necessitates the need for a text alternative image alt tag that they can read to understand what the picture depicts.</p>
                    <p>Search engine indexing strategy - Search engine indexing collects, parses, and stores data to facilitate fast and accurate information retrieval.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 offset-md-2">
                <h2>Question 3</h2>
                <p>The Domain name Strategy becuase in this strategy that he can protect his brand online by using this strategy by reducing the chance of other to use his brand name in thier online activity. </p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2017</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/tether/tether.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

</body>

</html>