  <!DOCTYPE html>
  <html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
  .w3-row-padding img {margin-bottom: 12px}
  /* Set the width of the sidebar to 120px */
  .w3-sidebar {width: 120px;background: #222;}
  /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
  #main {margin-left: 120px}
  /* Remove margins from "page content" on small screens */
  @media only screen and (max-width: 600px) {#main {margin-left: 0}}
  </style>
  <body class="w3-black">

  <!-- Icon Bar (Sidebar - hidden on small screens) -->
  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>Back</p>
    </a>
  </nav>

  <!-- Navbar on small screens (Hidden on medium and large screens) -->
  <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
      <a href="/" class="w3-bar-item w3-button" style="width:25% !important">Back</a>
    </div>
  </div>

  <!-- Page Content -->
  <div class="w3-padding-large" id="main">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
      <h1 class="w3-jumbo"><span class="w3-hide-small">On Page and Off Page</h1>
    </header>

    <!-- About Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
      <h2 class="w3-text-light-grey">What is the difference between ON PAGE and OFF PAGE SEO?</h2>
      <hr style="width:200px" class="w3-opacity">
      <p>The difference between on page and off page SEO comes down to control. In on page SEO, you can target a search term through keyword research, create a page, and tweak the content for the best results. You have complete control over your optimization efforts. Off Page SEO is different. It relies more on promotion. These include link building, blogging, social media, and other off page SEO techniques to build awareness. Control is in the hands of your community.
      </p>
      

      </div> 
      <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
      <h2 class="w3-text-light-grey">Briefly discuss the following SEO guides for OFF-PAGE technique</h2>
      <hr style="width:200px" class="w3-opacity">
      <p>Off page SEO refers to techniques that can be used to improve the position of a web site in the search engine results page (SERPs). Many people associate off-page SEO with link building but it is not only that. In general, off Page SEO has to do with promotion methods – beyond website design –for the purpose of ranking a website higher in the search results.
      </p>
      <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
      <h2 class="w3-text-light-grey">IS IT POSSIBLE TO COMBINE STRATEGIES? IF YES, WHICH STRATEGIES WOULD YOU LIKE TO IMPLEMENT? WHY?</h2>
      <hr style="width:200px" class="w3-opacity">
      <p>I would choose the domain name strategy. When starting a new website, one of the first and most important decisions you have to make is choosing a domain name. That choice will impact the website’s success in nearly every area, included search engine optimization (SEO) and social media marketing (SMM). Many SEO strategists would purchase exact match domains (EMDs), which are domains that exactly match the keyword phrase they are targeting. For example, if they want to rank for “buy green widgets” the person might purchase BuyGreenWidgets.com. EMDs offered two advantages.
      </p>   
    </div>
  </div>

  </body>
  </html>
